form {
  padding: 0.75em 1.5em;
  width: 526px;
  height: 544px;
}

input, textarea {
  background-color: transparent;
  border: #fefeff 1px solid;
  color: #fefeff;
  font-size: 1em;
  outline: 0;
  font-family: 'Lato', sans-serif;
}

textarea {
  padding: 0.85em;
  resize: none;
}

textarea::placeholder {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: #6ca2e6;
}

input, label {
  display: block;
}

label {
  padding: 0 0 0.5em 0;
  font-style: italic;
}

input {
  padding: 0.6em;
  margin-bottom: 1.8em;
  height: 45px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icon-wrapper {
  align-items: center;
  display: flex;
}

.fullwidth {
  width: 100%;
}

i {
  margin-bottom: 1.8em;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  height: 45px;
  padding: 0.6em;
}

#birthday {
  border-left: none;
}

.right-input {
  width: 55%;
}

.left-input {
  width: 41%;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
}

.side-by-side div:last-child input {
  width: 100%;
}

#birthday {
  padding-left: 0;
}