form {
  border: white 1px solid;
  padding: 0.75em 1.5em;
  width: 526px;
  height: 544px;
}

input, textarea {
  background-color: transparent;
  border: white 1px solid;
}

textarea {
  padding: 1em;
  resize: none;
}

input, label {
  display: block;
}

label {
  padding: 0 0.5em 0.5em 0;
  font-style: italic;
}

input {
  padding: 1em;
  margin-bottom: 2.25em;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fullwidth {
  width: 100%;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
}