form {
  /* border: #fefeff 1px solid; */
  padding: 0.75em 1.5em;
  width: 526px;
  height: 544px;
}

input, textarea {
  background-color: transparent;
  border: #fefeff 1px solid;
  color: #fefeff;
  font-size: 1em;
  outline: 0;
  font-family: 'Lato', sans-serif;
}

textarea {
  padding: 1em;
  resize: none;
}

textarea::placeholder {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: #6ca2e6;
}

input, label {
  display: block;
}

label {
  padding: 0 0 0.5em 0;
  font-style: italic;
}

input {
  padding: 0.6em;
  margin-bottom: 1.8em;
  height: 45px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fullwidth {
  width: 100%;
}

.two-third {
  flex: 2
}

.one-third {
  flex: 1;
  margin-right: 1.2em;
}

.side-by-side {
  display: flex;
}

.side-by-side div:last-child input {
  width: 100%;
}

input[type="date"] {
  display: flex;
  flex-direction: row-reverse;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: flex;
  margin-left: 0;
  padding-right: 1.2em;
}